.DS_Store
*.db
*.sqlite3
*.psql
*.sql
*.pyc
__pycache__
._*
.idea
.vscode
.vim
/tags
settings*_*local.py
/mail
.erp_export_debug.csv

bower_components
node_modules
virtualenv
/*virtualenv*
/logs/**/*.log
/logs/**/*.gz
/report_*

*.log

*.pot

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/


virtualenv
venv
venvnew
llo.code-workspace
sql_instructions.txt
livre_db_old

!setup_db.sql
!delete_and_create_db.sql
milkshakes_db_old/*
old_media

/public/**/
!/public/milkshakesanddreams.com/
!/public/milkshakesanddreams.com/robots.txt

files
category_tree*_*.json
category_tree.json
#/project/static/json
#/project/static_src/json/category_tree_el.json
#/project/static_src/json/category_tree_en.json
project/core/settings_local_sample.py
project/static/json/
oscar/